body {
	font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #333333;
}

/*=========================*/
/*      Header Section     */
/*=========================*/

.navbar-inverse {
	background-color: #060606;
	border-color: #BCBCBC;
}

.navbar > .container .navbar-brand {
	font-family: 'Megrim', cursive;
	font-size: 2em;
	color: #ADEE1D;
}

/*=========================*/
/*      Body Section       */
/*=========================*/

.main-content {
	color: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 100px;
}

.main-content h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	padding-bottom: 100px;
	font-size: 4em;
}

.rw-wrapper {
	position: relative;
}

.rw-words {
	display: inline;
}

.rw-words span {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
}

@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0; }
    8% { opacity: 1; height: 160px; }
    19% { opacity: 0; height: 160px; }
    25% { opacity: 0; height: 160px; }
    100% { opacity: 0; }
}

.rw-words span{
    -webkit-animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words span:nth-child(1) { 
    -webkit-animation-delay: 0s; 
    color: #4b882d;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    color: #6b889d;
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    color: #6b739d; 
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    color: #7a6b9d;
}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    color: #8d6b9d;
}
.rw-words span:nth-child(6) {  
    -webkit-animation-delay: 15s; 
    color: #9b6b9d;
}


/*=========================*/
/*      Footer Section     */
/*=========================*/

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #ECECEF;
	line-height: 50px;
	opacity: 0.8;
}

footer:hover {
	opacity: 1.0;
}

.footer-text {
	font-weight: 300;
	color: #8E8E8E;
}

.footer-container {
	max-width: 1170px;
	width: 90%;
	margin: 0 auto;
}

.rights-reserved {
	text-transform: uppercase;
	color: blue;
	font-size: 1.1rem;
	padding-left: 5px;
}

.social_icon_container {
	width: auto;
	height: 50px;
	float: right;
	overflow: hidden;
}

.social_icon {
	vertical-align: middle;
	padding-left: 10px;
	margin-bottom: 3px;
    display: inline-block;
    width: 47px;
    height: auto;
    opacity: 0.7;
}

.social_icon:hover {
    opacity: 1.0;
    cursor: pointer;
}

/*=========================*/
/*      Media Queries      */
/*=========================*/

@media (min-width: 768px) { 
	
	.navbar-nav {
		float: right;
	}

	.navbar > .container .navbar-brand {
		font-size: 2.5em;
	}

	.main-content h1 {
		padding: 200px 0;
		font-size: 10em;
	}

}
